
<div ng-controller="CanvasRainCtrl" class="CanvasRain" >
	<h1>Canvas rain</h1>
    <div class="scene">
        <img  src="assets\images\screen6_ep14.jpg" />
        <canvas id="rainwater" width="1024" height="660"></canvas>
        <canvas id="rainsBg" width="1024" height="660"></canvas>
        <!--<img src="assets\images\Screen06_Ep14_people.png" />-->
        <canvas id="rainsMiddle"  width="1024" height="660"></canvas>
        <!--<img  src="assets\images\Screen06_Ep14_heros.png" />-->
        <canvas id="rainsBeforeHeros"  width="1024" height="660"></canvas>
        <!--<img  class="fog" src="assets\images\fog.png"  />-->
    </div>
	
</div>