
<div ng-controller="RainCtrl" class="RainStage" >
	<h1>Rain <a href="http://www.dseffects.com/scriptsfx/DS_Rain/DS_RainPar.html" target="_blank">http://www.dseffects.com/scriptsfx/DS_Rain/DS_RainPar.html</a></h1>
	
	<iframe src="rainembed.html" height="700px" width="1024px" class="rain"></iframe>
	
	
</div>