
<div ng-controller="SnowCtrl" class="SnowStage" >
	<h1>Javascript snow <a href="http://www.schillmania.com/projects/snowstorm/" target="_blank">http://www.schillmania.com/projects/snowstorm/</a></h1>
	<button ng-click="startSnow()">start snow</button>
	<button ng-click="stopSnow()">stop snow</button>
	<button ng-click="switchMouseFollow()">switch mouse follow</button>
	
	
	
	<div id="snowStorm" ng-snow ></div>
	
</div>