
<div class="UnderWater" ng-controller="UnderWaterCtrl">
	<h1>Under Water</h1>
    <div class="scene">
        <img  src="assets\images\screen5_ep23.jpg" />
        <canvas id="canvasScene" width="1024" height="660"></canvas>
    </div>
	
</div>