/* variables */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* main section */
html body {
  background-color: #000000;
}
html body .stage {
  width: 1024px;
  height: 768px;
}
html body .stage h1 {
  font-size: 24px;
  color: #ffffff;
}
html body .SnowStage {
  width: 1024px;
  height: 768px;
  background-color: #65a40b;
}
html body .SnowStage h1 {
  font-size: 24px;
  color: #ffffff;
}
html body .SnowStage #snowStorm {
  width: 1024px;
  height: 700px;
  background-image: url("../images/screen1_ep1.jpg");
  background-repeat: no-repeat;
}
html body .RainStage {
  width: 1024px;
  height: 768px;
  background-color: #267170;
  /*.rain{
				width:1024px;
				height:700px;
				background-image:url("../images/bg_comic2.jpg");
				background-repeat:no-repeat;
			}*/

}
html body .RainStage h1 {
  font-size: 24px;
  color: #ffffff;
}
html body .CanvasRain {
  width: 1024px;
  height: 768px;
  background-color: #0000ff;
}
html body .CanvasRain h1 {
  font-size: 24px;
  color: #ffffff;
}
html body .CanvasRain h1 {
  color: #ffffff;
  font-size: 24px;
}
html body .CanvasRain .scene {
  position: relative;
}
html body .CanvasRain .scene img {
  position: absolute;
}
html body .CanvasRain .scene canvas {
  position: absolute;
}
html body .CanvasRain .scene .fog {
  opacity: 0.7;
}
html body .UnderWater {
  width: 1024px;
  height: 768px;
  background-color: #0000ff;
  background-color: mediumpurple;
}
html body .UnderWater h1 {
  font-size: 24px;
  color: #ffffff;
}
html body .UnderWater h1 {
  color: #ffffff;
  font-size: 24px;
}
html body .UnderWater .scene {
  position: relative;
}
html body .UnderWater .scene img {
  position: absolute;
}
html body .UnderWater .scene canvas {
  position: absolute;
}
html body .UnderWater .scene .fog {
  opacity: 0.7;
}
html body .scanline {
  width: 256px;
  height: 256px;
  background-color: #000000;
  border: 1px #008000 solid;
}
/* fonts */
@font-face {
  font-family: 'classicRound';
  src: url('../fonts/classic_round.eot');
  src: url('../fonts/classic_round.eot?#iefix') format('embedded-opentype'), url('../fonts/classic_round.woff') format('woff'), url('../fonts/classic_round.ttf') format('truetype'), url('../fonts/classic_round.svg#sf_comic_script_condensedRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
